<?xml version="1.0"?>

<launch>
	<arg name="sim" default="false"/>
	<param name="/use_sim_time" value="$(sim)"/>

	<node if="$(eval sim == 'true')" pkg="rosbag" type="play" name="play" args="bags/t5_lidar.bag --delay=5 --clock"/>
    	
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /scanmatcher_frame /laser 40" />
	
	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    		<param name="base_frame" value="base_frame" />
    		<param name="odom_frame" value="base_frame"/>
    		<param name="output_timing" value="false"/>

    		<param name="use_tf_scan_transformation" value="false"/>
    		<param name="use_tf_pose_start_estimate" value="false"/>
    		<param name="scan_topic" value="scan_filtered"/>

   	 	<!-- Map size / start point -->
   	 	<param name="map_resolution" value="0.050"/>
    		<param name="map_size" value="4096"/>
    		<param name="map_start_x" value="0.5"/>
    		<param name="map_start_y" value="0.5" />

    		<!-- Map update parameters -->
    		<!-- good value <param name="update_factor_free" value="0.3"/> -->
    		<param name="update_factor_free" value="0.2"/>
    		<!-- good value <param name="update_factor_occupied" value="0.95"> -->
    		<param name="update_factor_occupied" value="0.995" />
    		<param name="map_update_distance_thresh" value="0.2"/>
    		<param name="map_update_angle_thresh" value="0.05" />
  	</node>

  	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
		<rosparam command="load" file="config/laser_filter_config.yaml" />
  	</node>

  	<arg name="disable_poseupdate" default="false" />
  	<group if="$(arg disable_poseupdate)">
    		<param name="hector_mapping/pub_map_odom_transform" value="true"/>
    		<remap from="poseupdate" to="poseupdate_disabled"/>
  	</group>
	
	<group unless="$(arg disable_poseupdate)">
    		<param name="hector_mapping/pub_map_odom_transform" value="false"/>
    		<node pkg="tf" type="static_transform_publisher" name="map_nav_broadcaster" args="0 0 0 0 0 0 map nav 100"/>
  	</group>

  	<node pkg="rviz" type="rviz" name="rviz" args="-d mapping.rviz"/>

</launch>


